<div style="border:1px solid black;padding:10px;margin:10px;">
  <h4><%= @user.name %> ha escrito:</h4>

  <h3><%= message_title @message %></h3>

  <div>
    <%= render_body @message %>
  </div>
</div>

<% if @message != @root %>
    <div style="border:1px solid black;padding:10px;margin:10px;">
      <div style="margin-top:40px;">
        <h4>La conversación entera es:</h4>

        <h3><%= @root.title %></h3>

        <div>
          <%= render_body @root %>
        </div>
        <div style="margin: 10px 10px">
          <h4>Respuestas:</h4>
          <% @root.children.each do |child| %>
              <div class="<%= 'background-color:yellow;' if child == @message %>">
                <p>Hace <%= time_ago_in_words child.created_at %>, <%= child.user.name %> dijo:</p>
                <%= render_body child %>
              </div>
          <% end %>
        </div>
      </div>
    </div>
<% end %>