<div style="width: 450px; margin: 20px auto; padding: 10px;background-color:#7DE663;">
  <h3 style="color:black"><%= @message.group.name %></h3>
  <p>Esto es un mensaje de <%= @message.group.name %>. Si lo recibes es porque estás apuntadx en su web.
  Escribe a su administrador para darte de baja.</p>
  <div style="border:1px solid gray;padding:10px;margin:10px;background-color:#D8F8D1;">
    <h3><%= message_title @message %></h3>
    <h4><%= @user.name %> ha dicho:</h4>

    <div style="color:black;">
      <%= render_body @message %>
    </div>
  </div>

  <% if @message != @root %>
      <div style="border:1px solid gray;padding:10px;margin:10px;background-color:#D8F8D1;">
        <div style="margin-top:40px;">
          <h4>La conversación entera es:</h4>

          <h3><%= @root.title %></h3>
          <h4>Hace <%= time_ago_in_words @root.created_at %>, <%= @root.user.name %> dijo:</h4>

          <div style="border-bottom:1px solid gray;padding-bottom:10px;margin-bottom:10px">
            <%= render_body @root %>
          </div>
          <div style="margin: 10px 10px">
            <h4>Respuestas:</h4>
            <% @root.children.order('id ASC').each do |child| %>
                <div style="border-bottom:1px solid gray;padding-bottom:10px;margin-bottom:10px;<%= 'background-color:yellow;' if child == @message %>">
                  <p>Hace <%= time_ago_in_words child.created_at %>, <%= child.user.name %> dijo:</p>
                  <%= render_body child %>
                </div>
            <% end %>
          </div>
        </div>
      </div>
  <% end %>
</div>